@import "plugins";

.container {
    display: grid;
    width: 1024px;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr;
}

header,
footer {
    grid-column: 1 / 3;
    padding: 10px;
    background:$cinza;
}

header {
    height: 100px;
}


aside {
    background: $cinza;
    padding: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / span;
}

main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: repeat(3, auto);

    .card {
        background: $cinza;
        padding: 10px;

        &:first-child {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            border: 1px solid $cinza;
        }

        &:nth-child(odd){
            background: #efefef;
            border: 1px solid $cinza;
        }
    }
}

footer {
    height: auto;
}

